node_modules
**/node_modules
dist
**/dist
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
# .yarn/releases
.yarn/patches
.turbo
.turborepo
.cache
.cache-loader
.next
out
coverage
coverage/*
.DS_Store
.vscode
.idea
.git
.gitignore
npm-debug.log
yarn-error.log
yarn-debug.log
logs
*.log
.env
.env.local
.dump
*.tgz
*.pem
*.key
